.login {
  margin-top: 20%;
  background-color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
}
body {
  background-color: whitesmoke;
  font-size: 22 px;
}
.container {
  display: flex;
  flex-direction: column;
}

#field-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  height: 5em;
  background-color: whitesmoke;
}

#loginUsername {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  color: grey;
}

#loginPassword {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 0.12em;
  color: grey;
}

#password {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  background-color: whitesmoke;
  border: solid rgb(196, 194, 194);
}
#username {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  background-color: whitesmoke;
  border: solid rgb(196, 194, 194);
}

#loginButton {
  background-color: rgb(59, 131, 240);
  text-emphasis-color: white;
  color: white;
  border-radius: 0.25em;
  size-adjust: 25%;
}
