.cccContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(12, 27, 51);
  font-family: Arial, Helvetica, sans-serif;
}

/* .compliments-form {
  background-color: green;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border: solid rgb(196, 194, 194);
  display: flex;
  flex-direction: column;
  border: black
} */

.text {
  color: rgb(12, 27, 51);
  font-family: Arial, Helvetica, sans-serif;
}

#createComplimentButton {
  background-color: rgb(59, 131, 240);
  text-emphasis-color: white;
  color: white;
  border-radius: 0.25em;
  size-adjust: 25%;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  font-family: inherit;
  margin-left: 220px;
}

#category {
  height: 2.5em;
  width: 50%;
  align-self: baseline;
  font-size: medium;
}
/* #pick {
  background-color: rgb(59, 131, 240);
  text-emphasis-color: white;
  color: white;
  border-radius: 0.25em;
  size-adjust: 25%;
  padding: 10px 10px;
  border: none;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  font-family: inherit;
}  */

.ComplimentsForm {
  width: 600px;
}

input[type='text'],
input[type='select'] {
  width: 400px;
}

.senderDiv {
  text-align: right;
  width: max-content;
  margin-left: auto;
  margin-right: 70px;
}

.messageDiv {
  text-align: right;
  width: max-content;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 30px;
}

.senderAndMessageDiv {
  margin-left: auto;
  width: 100%;
}

.categoryPicking {
  display: flex;
  width: max-content;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 30px;
}

#category-select {
  width: 410px;
  font-family: inherit;
  font-size: inherit;
  padding-block: 10px;
  margin-left: 5px;
  border-radius: 0.25em;
  padding-inline: 15px;
}

/* ********************* COMPLIMENT CARD STYLES *********************** */
.card-container {
  /* border: 2px blue solid; */
  width: 50%;
  margin-inline: auto;
  margin-block: 50px;
}

.secondary-text {
  color: gray;
  font-style: italic;
  font-size: smaller;
}

.primary-text {
  font-size: larger;
}

.margin-top-sm {
  margin-top: 10px;
}

.primary-button {
  background-color: rgb(59, 131, 240);
  text-emphasis-color: white;
  color: white;
  border-radius: 0.25em;
  size-adjust: 25%;
  padding: 10px 10px;
  border: none;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  font-family: inherit;
}

.secondary-button {
  background-color: gray;
  text-emphasis-color: white;
  color: white;
  border-radius: 0.25em;
  size-adjust: 25%;
  padding: 10px 10px;
  border: none;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  font-family: inherit;
}

.margin-left-sm {
  margin-left: 15px;
}

.edit-select {
  padding: 5px 10px;
  font-size: smaller;
  font-family: inherit;
}

#dashCategory-filter {
  width: 300px;
  font-family: inherit;
  font-size: smaller;
  padding-block: 10px;
  margin-left: 5px;
  border-radius: 0.25em;
  padding-inline: 15px;
  margin-top: 20px;
}

.margin-left-auto {
  margin-left: auto;
  width: max-content;
  margin-right: 30px;
}
