.login {
  margin-top: 10%;
  background-color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* font-weight: bolder; */
  text-align: center;
}

body {
  background-color: whitesmoke;
  font-size: 22px;
  padding: 0;
  margin: 0;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif; */
  font-family: 'Roboto', 'sans-serif';
}

input {
  padding: 12px 5px;
  border-radius: 0.25em;
  font-size: 18px;
  margin: 10px 0px;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

#field-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  height: 5em;
  background-color: whitesmoke;
}

#loginName {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  color: grey;
}

#loginUsername {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  color: grey;
}
#loginPassword {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 0.12em;
  color: grey;
}

#password {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  /* background-color: whitesmoke; */
  border: solid rgb(196, 194, 194);
}

#username {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  /* background-color: whitesmoke; */
  border: solid rgb(196, 194, 194);
}

#name {
  align-self: flex-start;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  /* background-color: whitesmoke; */
  border: solid rgb(196, 194, 194);
}

#loginButton {
  background-color: rgb(59, 131, 240);
  text-emphasis-color: white;
  color: white;
  border-radius: 0.25em;
  size-adjust: 25%;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  font-family: inherit;
}


#signUpButton{
  background-color: rgb(231, 158, 221);
  text-emphasis-color: white;
  color: white;
  border-radius: 0.25em;
  size-adjust: 25%;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  font-family: inherit;

}
/* *********************** MARGIN AND PADDING ***************************** */

/* *********************** NAVBAR STYLE ***************************** */
nav {
  background-color: rgb(12, 27, 51);
  padding: 0;
  margin: 0;
  padding: 20px;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  margin-right: 50px;
}
